# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
build/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
.DS_Store

# Android
android/.gradle/
android/app/build/
android/local.properties
*.keystore

# macOS
macos/Pods/
macos/.symlinks/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
